.headerContainer {
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

  border-bottom: 1px solid #eeebeb;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  align-items: center;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}
.navbar li .activeMenu {
  color: green;
  font-weight: 700;
}
.navbar li a {
  display: block;
  color: #444343;
  text-align: center;
  font-size: 16px;
  padding: 14px 22px;
  text-decoration: none;
  transition: all 0.6s ease;
}

.navbar li a:hover {
  color: green;
}
.logoLink {
  text-decoration: none;
}

.logo span {
  letter-spacing: 3px;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}

.visit {
  color: #736e6e;
}
.italy {
  color: green;
}
