.cardFooter {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.readMore {
  padding: 15px 30px;
  background-color: #7a9f79;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  color: #fff;
  transition: all 0.6s ease;
  font-weight: 700;
}

.readMore:hover {
  background-color: #315a39;
}
.delete {
  background-color: rgb(156, 38, 38);
  padding: 15px 30px;
  font-weight: 700;
}
.delete:hover {
  background-color: rgb(98, 10, 10);
}
