* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
.card-list-container {
  flex-direction: column;
  align-items: start;
}
.disabled {
  position: absolute;
  width: 281px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  border-radius: 5px;
}

.restore {
  margin-top: 50%;
  background-color: #7a9f79;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
    0 8px 16px 0 rgba(1, 1, 1, 0.2),
    0 6px 20px 0 rgba(1, 1, 1, 0.19);
  transition: all 0.6s ease;
  font-weight: 700;
}
.restore:hover {
  background-color: #315a39;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: start;
  border: 1px solid #eeebeb;
}

.card-image {
  height: 180px;
}

.country-name {
  color: black;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.card-context {
  padding-left: 15px;
  width: 50%;
}
.card-context p {
  margin: 5px;
  text-align: left;
}
.bold {
  font-weight: 700;
}
.flag {
  width: 50px;
  margin: 10px;
  border: 1px solid #e1dddd;
}
.vote {
  padding-left: 10px;
}

.cardFooter {
  padding: 10px 15px;
  display: flex;
  justify-content: end;
  align-items: end;
  width: 20%;
}

.readMore {
  padding: 15px 30px;
  background-color: #7a9f79;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  color: #fff;
  transition: all 0.6s ease;
  font-weight: 700;
}

.readMore:hover {
  background-color: #315a39;
}
.delete {
  background-color: rgb(156, 38, 38);
  margin-left: 15px;
}
.delete:hover {
  background-color: rgb(98, 10, 10);
}
